
<h1>View <%= pluralize(@players.count, "Player") %></h1>

<table class="table table-dark">
	
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
		<tr>
			<td><%= player.first_name %></td>
			<td><%= player.last_name %></td>
			<td><a class="btn btn-danger" href="/players/<%= player.id %>">Show</a>
				<a class="btn btn-danger" href="/players/<%= player.id %>/edit">Edit</a>
				<a class="btn btn-danger" href="/players/<%= player.id %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a class="btn btn-danger" href="/players/new">Create Players</a>