<h1>View stats for <%= @player.first_name %> <%= @player.last_name %></h1>
<table class="table table-striped">
	
	<thead>
		<tr>
			<th scope="col">Season</th>
			<th scope="col">Goals</th>
			<th scope="col">Assists</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td><%= @player.season %></td>
			<td><%= @player.goals %></td>
			<td><%= @player.assists %></td>
		</tr>
		
	</tbody>
</table>
<a class="btn btn-primary" href="/players" role="button">View Other Players</a>