<h1>Add Player to Season</h1>
<form action="/appearances" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>Player:</label>
		<select name="appearance[player_id]" id="player_id">
			<% @players.each do |player| %>
			<option value="<%= player.id %>">
				<%= player.fnln %> - <%= player.season %>
			</option>
			<% end %>
		</select>
	</p>
	<p>
		<label>Season:</label>
		<select name="appearance[season_id]" id="season_id">
			<% @seasons.each do |season| %>
			<option value="<%= season.id %>">
				<%= season.season %>
			</option>
			<% end %>
		</select>
	</p>
	<input type="submit" class="btn btn-danger" value="Create">
</form>