<!DOCTYPE html>
<html>
  <head>
    <title>Hockeystats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'players/navbar' %>
    <div class="bg-dark text-white">
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
    			<%= yield %>
    		</div>
    	</div>
    </div>
  </div>
  </body>
</html>
